body {
    font-family: 'Open Sans', sans-serif;
    background:white fixed;
    
  }
  
header  {
    text-align: center;
    
}

h1 {
    background: linear-gradient(to right, rgb(82, 82, 234), rgb(52, 52, 148), rgb(26, 26, 67));
    color: white;
    justify-content: center;
    height: 80px;


}

#searchNav {
    text-align: center;
   
}

#currentWthr {
    margin-bottom: 10px;
}

.border {
    border-radius: 7px;
    padding: 10px;
}

.historyCard {
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    padding: 10px;
}

.col-2 {
    background-color: rgba(37, 46, 45, 0.753);
    text-align: center;
}
#searchBtn {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #searchBtn:hover {
    background-color: darkblue;
  }
  
#clearHistoryBtn {
    background-color: rgba(211, 34, 34, 0.779);
    color: white;
    border: none;
    margin-top: 10px;
  }




